/*TODO: add arrow overlap
  improve yebo
  
  justify text with in p
  refactor
  add hover effects for fun
*/

:root {
  --grey: #5c5b69;
  --soft-white: #f7f7f7;
  --soft-grey: #888b8d;
  --black: #292f35;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  text-align: center;
}

p {
  font-size: 0.6em;
}

a,
p {
  color: var(--grey);
}

.container hr {
  width: 2em;
}

#header {
  height: 500px;
  background: url(./assets/Layer7.png) center / cover no-repeat; /**/
}

.bg-toSmall {
  width: fit-content;
  background-color: white;
}

@media (min-width: 576px) {
  .bg-toSmall {
    background-color: transparent;
  }
}

.text-section {
  color: var(--grey);
  background-color: var(--soft-white);
}

.headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.show-img {
  width: 100%;
  height: 100%;
}
.center-absolute-initial {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  background: transparent;
  z-index: 100;
}

.green-foreground {
  position: absolute;
  left: 0;
  top: 0px;
  background-color: green;
  z-index: 99;
  height: 100%;
  width: 100%;
}

.arrow-overlap:before {
  color: black;
  content: "";

  position: absolute;
  left: 46.5%;
  bottom: -30px;
  border-style: solid;
  border-width: 15px;
  border-color: white transparent transparent transparent;
  z-index: 100;
  padding: 0;
  margin: 0;
}

.discover {
  text-transform: uppercase;
  height: 100px;
  background-color: var(--black);
}

.discover-button {
  color: var(--soft-white);
  background-color: var(--black);
  border: 1px solid var(--soft-white);
  padding: 1px 20px 1px 20px;
}

.impressum {
  text-align: left;
  font-weight: 100;
  font-size: 0.5em;
}

.col {
  padding: 0px;
}

.row {
  margin: 0px;
}

.justify-text {
  text-align: justify;
  justify-content: center;
}

.rotate {
  transition: 1s;
}

.rotate:hover {
  transform: rotate(360deg);
}
