:root {
  --grey: #5c5b69;
  --soft-white: #f7f7f7;
  --soft-grey: #888b8d;
  --black: #292f35;
}

/*TODO: add arrow overlap
  add green shop sign
  add ... to twitter
  improve yebo
  refactor
  add hover effects for fun
  */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

#content {
  max-width: 10000px;
}

#header {
  height: 500px;
  /*  background: url("//unsplash.it/1200/800") center / cover no-repeat; /**/
  background: url(./assets/Layer7.png) center / cover no-repeat; /**/
}

#header .nav a {
  color: var(--grey);
}

.logo {
  width: fit-content;
}

#about {
  height: 250px;
  color: var(--grey);
  background-color: var(--soft-white);
}

.headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
}

#tweets {
  height: 250px;
  color: var(--grey);
  background-color: var(--soft-white);
}

p {
  color: var(--grey);
  font-size: 0.6em;
}

hr {
  width: 2em;
}

.show-img {
  width: 100%;
  height: 100%;
}

[name="imgIcon"] {
  position: absolute;
  top: 45%;
  left: 45%;
  width: initial;
  height: initial;
  background: transparent;
  z-index: 100;
}

.center-absolute {
  color: white;
  position: absolute;
  top: 45%;
  left: 45%;
  width: initial;
  height: initial;
  background: transparent;
  z-index: 100;
}

.block {
  color: var(--grey);
  min-height: 50%;
}

.min-h-50 {
  min-height: 50%;
}

.h-p {
  height: 100%;
}

.block p:before {
  color: black;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: 48.5%;
  bottom: -22px;
  transform: rotate(90deg);
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent white;
  z-index: 100;
}

#tweets {
  height: 200px;
  background-color: var(--soft-white);
}

#discover {
  text-transform: uppercase;
  height: 100px;
  background-color: var(--black);
}

#discover button {
  color: var(--soft-white);
  background-color: var(--black);
  border: 1px solid var(--soft-white);
  padding: 1px 10px 1px 10px;
}

#search {
  height: 250px;
}

#contact {
  height: 100px;
  background-color: var(--soft-white);
}

#icon,
.icon {
  height: initial;
  width: initial;
  padding: 1em;
}

.impressum {
  text-align: left;
  font-weight: 100;
  font-size: 0.5em;
}

.col {
  padding: 0px;
}

.row {
  margin: 0px;
}

.on-hover {
  content: "SHOP NOW";
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  background-color: green;
  opacity: 0.5;
  z-index: 99;
  height: 100%;
  width: 100%;
}
